.card-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: var(--neutral-0);
  border-radius: 10px;
  -webkit-box-shadow: 3px 6px 14px 5px var(--neutral-400);
  box-shadow: 3px 6px 14px 5px var(--neutral-400);
  max-width: 450px;
  height: fit-content;
  padding: 10px 20px;
  width: 100%;
}

.card__receipt-title-header p,
.card__receipt-identifier p,
.card__receipt-title {
  color: var(--neutral-600);
  font-family: "DM Mono", monospace;
  font-size: 11.5px;
  letter-spacing: 1.5px;
}

.card__receipt-title-header p {
  text-transform: uppercase;
}

.card__receipt-title-header h2 {
  font-family: "Fraunces", sans-serif;
  font-size: 20px;
}

.card__receipt-header {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

.card__receipt-title-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__receipt-identifier {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: end;
}

.card__receipt-dates {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px dotted var(--neutral-400);
  border-top: 2px dotted var(--neutral-400);
}

.card__receipt-schedule {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  padding: 18px;
}

.card__receipt-title,
.card__receipt-schedule-date,
.card__receipt-schedule-time {
  text-align: center;
}

.card__receipt-title {
  text-transform: uppercase;
  font-weight: 400;
}

.card__receipt-schedule-date {
  font-family: "Fraunces", sans-serif;
  font-size: 30px;
  margin-top: 5px;
}

.card__receipt-schedule-time-wrapper {
  align-items: center;
  display: flex;
  gap: 5px;
}

.card__receipt-schedule-time {
  align-items: center;
  color: var(--neutral-600);
  display: flex;
  font-size: 12px;
  font-weight: 500;
}

span.card__receipt-schedule-time {
  display: block;
  height: 20px;
}

.card__receipt-costs {
  border-bottom: 1px solid var(--neutral-900);
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 10px 0 15px 0;
}

.card__receipt-item {
  display: flex;
  justify-content: space-between;
}

.card__receipt-line {
  align-items: center;
  display: flex;
  gap: 5px;
}

.card__receipt-line span {
  display: block;
  height: 20px;
}

.card__receipt-footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0 8px 0;
}

.card__receipt-cost {
  font-family: "DM Mono", monospace;
  font-size: 13px;
  letter-spacing: 1.5px;
}

.card__receipt-values {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.card__receipt-total-title {
  color: var(--neutral-600);
  font-family: "DM Mono", monospace;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.card__receipt-total {
  font-family: "Fraunces", sans-serif;
  font-size: 25px;
}

.card__receipt-footer-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.card__receipt-footer-badges {
  display: flex;
  list-style: none;
}

.card__receipt-footer-badges li {
  align-items: center;
  color: var(--neutral-600);
  display: flex;
  font-family: "DM Mono", monospace;
  font-size: 11.5px;
  letter-spacing: 1.5px;
  justify-content: center;
  text-transform: uppercase;
}

.card__receipt-footer-badges li::after {
  content: ".";
  display: block;
  height: 20px;
  margin: 0 5px;
  text-align: center;
}

.card__receipt-footer-badges li:last-child::after {
  display: none;
}