.header {
  align-items: center;
  border-bottom: 1.5px solid var(--neutral-400);
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.header__menu-button {
  align-items: center;
  background-color: var(--neutral-100);
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  height: 28px;
  width: 30px;
}

.header__menu-button--open {
  animation-duration: 1s;
  animation-name: menu-icon-rotate;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.header__menu-icon, .header__close-icon--closed {
  background-color: var(--neutral-0);
  backface-visibility: hidden;
  border: 1.5px solid var(--neutral-400);
  border-radius: 4px;
  position: absolute;
  padding: 4px;
  width: 100%;
}

.header__close-icon--closed {
  transform: rotateY(180deg);
}

@keyframes menu-icon-rotate {
  100% {
    transform: rotateY(180deg);
  }
}

.header__menu-button--closed {
  animation-name: close-icon-rotate;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.header__menu-button--closed .header__close-icon--closed {
  transform: rotateY(0deg);
}

.header__menu-button--closed .header__menu-icon {
  transform: rotateY(180deg);
}

@keyframes close-icon-rotate {
  100% {
    transform: rotateY(180deg);
  }
}